                <div class="span2">
					<div class="well" style="padding: 8px 0;">
						<ul class="nav nav-list">
							<li class="nav-header">
								管理菜单
							</li>
							<li class="{{dashboard}}">
								<a href="/dashboard"><i class="icon-home"></i> 控制中心</a>
							</li>
							<li class="{{domain}}">
								<a href="/dns/domain"><i class="icon-book"></i> 域名管理</a>
							</li>
							<li class="{{record}}">
								<a href="/dns/record"><i class="icon-check"></i> DNS管理</a>
							</li>
							<li class="nav-header">
								Users
							</li>
							<li class="{{users_admin}}">
								<a href="/users"><i class="icon-user"></i> 用户管理</a>
							</li>
                                                        <li class="{{users_logs}}">
								<a href="/users/logs"><i class="icon-file"></i> 日志管理</a>
							</li>
							<li class="divider">
							</li>
							<li class="nav-header">
								About
							</li>
							<li>
								<a href="#" target="_blank"><i class="icon-picture"></i> 官网</a>
							</li>
						</ul>
					</div>
				</div>
